
[![Logo]({{{rel_path}}}images/logo.png)]({{{rel_path}}}index.html)

<hr/>
start type anywhere, to search API
<hr/>



<script src="{{{rel_path}}}js/omnibar.js"> </script>
<link rel="stylesheet" type="text/css" href="{{{rel_path}}}css/omnibar.css" media="all">

<div id="omnibar"> <input id="omnibar_text" type="text" placeholder="search types..."></input></div>
<script  id="typelist" data-relpath="{{{rel_path}}}" data-types="{{doc.names}}"></script>

## Packages

{{#each doc.package_roots~}}
    {{#with (get_type 'packages' . ) ~}}
        {{#with this~}}
            {{>package_list}}<br/>
        {{~/with}}
    {{~/with}}
{{~/each}}
<hr/>
## Types


{{#with doc.packages._empty_}}
   {{>package_node}}
{{~/with}}


{{#each doc.package_roots~}}
    {{#with (get_type 'packages' . ) ~}}
        {{#with this~}}
            {{>package_node}}<br/>
        {{~/with}}
    {{~/with}}
{{~/each}}

<hr/>

&nbsp;
&nbsp;