{{#if fields.length~}}

    { {{#each fields~}}
        {{#if @index}}, {{/if~}}
        {{~name}} : [{{type.name}}]({{type_link name @root.rel_path}})
      {{~/each}} }

{{~else~}}
    {{#if args.length~}}

    {{#each args~}}
        {{#if @index}} -&gt; {{/if~}}
        [{{t.name}}]({{type_link t.name @root.rel_path }})&nbsp;
    {{~/each~}}
    -&gt; [{{~return_type.name~}}]({{type_link return_type.name @root.rel_path}})
    {{~else~}}

        {{#if params.length~}}
            [{{name}}]({{type_link name @root.rel_path}})&lt;
            {{~#each params~}}
                {{#if @index}}, {{/if~}}
                [{{~name}}]({{type_link name @root.rel_path}})
            {{~/each~}}&gt;
        {{~else~}}
            {{#if name~}}
                [{{name}}]({{type_link name @root.rel_path}})
            {{~else~}}
                [Dynamic]({{type_link name @root.rel_path}})
            {{~/if}}
        {{~/if}}

    {{~/if}}

{{~/if~}}
