/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.hljs-tomorrow-comment, pre .hljs-comment {
  color: #666;
}

pre .hljs-title {
  color: #f6007b;
}

.hljs-tomorrow-red, 
  pre .hljs-variable, 
  pre .hljs-attribute, 
  pre .hljs-tag, 
  pre .hljs-regexp, 
  pre .hljs-ruby .hljs-constant, 
  pre .hljs-xml .hljs-tag .hljs-title, 
  pre .hljs-xml .hljs-pi, 
  pre .hljs-xml .hljs-doctype, 
  pre .hljs-html .hljs-doctype, 
  pre .hljs-css .hljs-id, 
  pre .hljs-css .hljs-class, 
  pre .hljs-css .hljs-pseudo 
{
  color: #ff5917;
}

.hljs-tomorrow-orange, pre .hljs-number, pre .hljs-preprocessor, pre .hljs-built_in, pre .hljs-literal, pre .hljs-params, pre .hljs-constant {
  color: #ff5917;
}


.hljs-tomorrow-yellow, pre .hljs-class, pre .hljs-ruby .class .hljs-title, pre .hljs-css .hljs-rules .hljs-attribute {
  color: #66d9ef;
}

.hljs-tomorrow-green, pre .hljs-string, pre .hljs-value, pre .hljs-inheritance, pre .hljs-header, pre .hljs-ruby .hljs-symbol, pre .hljs-xml .hljs-cdata {
  color: #e6db74;
}

.hljs-tomorrow-aqua, pre .hljs-css .hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tomorrow-blue, pre .hljs-function, pre .hljs-python .hljs-decorator, pre .hljs-python .hljs-title, pre .hljs-ruby .hljs-function .hljs-title, pre .hljs-ruby .hljs-title .hljs-keyword, pre .hljs-perl .hljs-sub, pre .hljs-javascript .hljs-title, pre .hljs-coffeescript .hljs-title {
  color: #ff5917;
}

.hljs-function .hljs-keyword {
 color: #fff; 
}

.hljs-tomorrow-purple, pre .hljs-keyword, pre .hljs-javascript .hljs-function {
  color: #66d9ef;
}

pre .hljs-params {
  color: #fff;
}

pre code {
  display: block;
  color: #ddd;
  line-height: 1.5;
  padding: 10px;
}

pre,code { font-family:'dsm',monospace; background:#272822; border-radius:0.2em; height:auto; margin: 0.2em; padding: 0; padding-left:1em;  }

code { color:#666; border:solid 1px rgba(39,40,34,0.3); }
code a { color:#f6007b; }
code a:hover { color:#000; }


pre {
  padding:0.1em 0.3em 0.1em 0.3em;
  white-space: pre-wrap;
}

code {
  display: inline-block;
  font-size: 0.79em;
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 0.2em;
  background-color: transparent;  
  white-space: pre;
}