
body,html {
    font-family: helvetica;
    color:#3c3c3c;
}

h1,h2,h3,h4,h5,h6 {
    font-family: osp;
    font-size:3em;
    letter-spacing: -0.01em;
    margin: 0.2em;
    margin-left: 0em;
    padding: 0;
}

h2 { font-size: 2em; margin-top:0.5em;}
h3 { font-size: 1.5em; margin-top:0.6em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; }

img {
    clear: both;
    display: block;
}
hr {
    border: 0;
    border-top: 1px solid #ECECEC;
}


li {
    font-size: 1em;
    letter-spacing: -0.05em;
    max-width: 80%;
    color:#999;
}

b {
    color:#3c3c3c;
}

.highlight {
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 0.9em;
    color:#f6007b;
    border:0;
    outline: 0;
}

a:hover {
    color:#242424;
}

.commit_info {
    font-size: 0.8em;
    opacity:0.5;
}

.commit_message li {
    color:#797979;
    margin-top: 1em;
    letter-spacing: 0em;
}

.section img {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.small_desc {
    color:#999;
    position: relative;
    display: inline-block;
    margin-left:1em;
    font-size:0.9em;
    margin-bottom: 0.6em;    
}


.lift {
    margin-bottom: -0.4em;
    display: block;
    margin-left: -0.5em;
}

a.lift {
    font-size: 1.4em;
}
a.liftsmall {
    font-size: 1em;
}
.small_desc_flat {
    color: #6F6F6F;
    max-width: 90%;
    position: relative;
    display: block;
    line-height: 1.4em;
    margin-left: 1em;
    margin-right: 0.5em;
    font-size: 0.85em;
    top: -0.6em;
    margin-bottom: 1em;
    opacity: 0.8;
}

.small_desc_flat strong {
    margin-left: 1em;
    min-width: 5em;
    display: inline-block;
    line-height: 1.5em;
}

.toplink {
    font-size: 8pt;
    top: -1.2em;
    display: block;
    position: relative;
}

/*.small_desc_flat:hover {*/
    /*#f6007b*/
/*}*/

.warn {
    color:#cc0000;
    border: solid 1px #fcfcfc;
    font-size: 0.8em;
    padding:0.5em;
}

.indent {
    padding-left: 1.5em;
    display: block;
}

p {
    color:#858585;
    margin: 0.8em;
    margin-left:0.5em;
}

.section {
    color:#a5a5a5;
    line-height: 1.5em;
    position: relative;
    display: block;
    width: 40em;
    margin-left:2em;
    font-size:0.9em;
    margin-bottom: 0.6em;
}

.readmore {
    display: block;
    position: relative;
    min-width:1.7em;    
    min-height:1.7em;
    background-repeat: no-repeat;
    background-image:url('../more.png');
    background-size: 1.7em 1.7em;   
    margin: 1em;
    color:#999;
    opacity: 0.4;
    margin-left: 1.5em;
    margin-right: auto; 
    padding-left: 1.8em;
    padding-top: 0.3em; 
}
.readmore:hover {
    cursor:pointer;
    opacity: 1;
}

.more {
    display: block;
    position: relative;
}


.sample {
    width:645px; 
    height:450px; 
    background:#ff4b03; 
}

.sample p {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;  
    color:#f0f0f0;
    font-size: 2em;
    font-family: osp;
    text-align: center;
    line-height: 450px;
}

.platform-icon-64 {
    width: 5em;
    margin-right: 0.9em;
    position: relative;
    display: inline-block;
}

.content {
    max-width:50em;
    width:40em;
    left:50%;
    margin-left: -20em;
    position: relative;
    display: block;
}


.inline-block {
    display: inline-block;
}

.margin-right {
    margin-right: 1em;
}

.static {
    color:#242424;
    border:solid 1px rgba(0,0,0,0.1);
    font-size: 0.9em;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius: 0.2em;   
}
