
[![Logo]({{{rel_path}}}images/logo.png)]({{{rel_path}}}index.html)

---

#{{{class_name}}}

{{#doc}}
--- 

{{{doc}}}

---
<br/>
{{/doc}}

&emsp;&emsp;&emsp;home   
[API Index]({{{rel_path}}}api/index.html#{{{package_root}}})   
&emsp;&emsp;&emsp;parent    
{{#package_parent}}
[{{{package_parent}}}](../)     
{{/package_parent}}
{{^package_parent}}
_none_   
{{/package_parent}}
&emsp;&emsp;&emsp;current    
[{{{package}}}](./) / {{{class_name}}}

<br/>

---

{{toplinks}}
{{links}}

---

{{{content}}}

&nbsp;
&nbsp;
&nbsp;

---  
{{toplinks}}

&nbsp;   
&nbsp;   