<!DOCTYPE html>

    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>::APP_TITLE::</title>

            <style> 
                #lime_canvas {
                    background:#000;
                    display: block;
                    width: ::WIN_WIDTH::px;
                    height: ::WIN_HEIGHT::px;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top:5px;
                }
            </style>

            ::if LIB_HAXEBULLET:: <script type="text/javascript" src="./lib/ammo.small.js"></script> ::end::
            <script type="text/javascript" src="./lib/soundmanager/soundmanager2-nodebug-jsmin.js"></script>

        </head>

        <body style="padding: 0; margin: 0; background-color: #FFFFFF;">

            <canvas id="lime_canvas" width="::WIN_WIDTH::" height="::WIN_HEIGHT::"> </canvas>
            <script type="text/javascript" src="./::APP_FILE::.js"></script>
            
        </body>

    </html>